.rmdidea, .rmdinfo, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid;
  border-radius: 10px;
}

.rmdidea {
  background: #FFF3CD 5px center/3em no-repeat;
  background-image: url("../images/icon-idea.png");
}
.rmdinfo {
  background: #ABCDEF 5px center/3em no-repeat;
  background-image: url("../images/icon-info.png");
}
.rmdwarning {
  background: #F8D7DA 5px center/3em no-repeat;
  background-image: url("../images/icon-warning.png");
}

.graybox {
  background: #D3D3D3;
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  border: 2px solid;
  border-radius: 10px;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number {
  display: inline-block;
}
.level1 h1 {
  border-bottom: 1px solid;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1.title {
  font-weight: 700;
}
.smallcaps {
  font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}
